body{
background-color:black;
color:seashell;
font-family:Helvetica;
opacity:0.9;
font-size;22px;
}


header{
display:flex;
justify-content:space-between;
align-items:center;

}

header .logo{
margin-left:10px;
height:50px;
margin-botton:9px;

}

a{
color:seashell;
font-size:22px;
font-family:Helvetica;
text-align:space-between;
}

.firstbox{
background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
margin-top:50px;
height:700px;
width:1600px;
margin-left:30px;
}

.firsthead{
display:grid;
height:500px:
width:1400px;
grid-template-columns:300px;
align-items:center;
 padding-top:300px;
padding-bottom:300px;
}

.uptown{
 background-color:black;
text-align:center;
width:1600px;
height:100px;
 
}

.secondcontainer{
text-align:center;
}

.photo{
margin: 0 300px;
display:flex
flex-wrap:wrap;
flex-direction:row;
align-items:40px;
justify-content:space-around;
}

.names{
display:flex;
justify-content:center;
align-content:space-around;
}

.row{
margin: 0 500px;
}

.names2{
display:flex;
justify-content:center;
align-content:space-around;
}

.location{
background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
margin-top:50px;
height:700px;
width:1600px;
margin-left:30px;
}

.container{
margin:10px 300px;
display:grid;
height:500px:
width:1400px;
grid-template-columns:300px 300px 300px;
column-gap:40px;

}

.pramod h1{
padding-top:85px;
text-align:center;
font-weight:bold;
font-size:40px;
}

.downtown{
 background-color:black;
text-align:center;
width:300px;
height:300px;

 
}
.downtown p{
line-height:3.6;
}

.footDetail{
  text-align:center;

}

.copyright{
margin-left:20px:
}



